process {
    publishDir = {"./Results_Fiber_Cup/${task.process}"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {

    //** DENOISING DWI Options **//
    extent = 3

    //** DTI Options **//
    ad = false
    evecs = false
    evals = false
    fa = true
    ga = false
    rgb = false
    md = true
    mode = false
    norm = false
    rd = false
    tensor = false
    nonphysical = false
    pulsation = false
    residual = false

    //** FRF Options **//
    fa=0.7
    min_fa=0.5
    min_nvox=300
    roi_radius=20
    set_frf=true
    manual_frf="15,4,4"

    //** FODF Options **//
    b0_thr_extract_b0 = 10
    dwi_shell_tolerance = 20
    min_fodf_shell_value = 700
    sh_order = 8
    sh_basis = "descoteaux07"
    fa_threshold = 0.1
    md_threshold = 0.003
    relative_threshold = 0.1
    processes = 4
    peaks = false
    peak_indices = false
    afd_max = false
    afd_total = false
    afd_sum = false
    nufo = false

    //** LOCALTRACKING Options **//
    local_compress_streamlines=true
    local_algo="prob"
    local_seeding="npv"
    local_nbr_seeds=10
    local_step=0.5
    local_theta=20
    local_sfthres=0.1
    local_sfthres_init=0.5
    local_min_len=20
    local_max_len=200
    local_compress_value=0.2
    local_random_seed=0

}


profiles {
    no_symlink {
        process{
            publishDir = [path: {"./Results_Fiber_Cup/${task.process}"}, mode: 'copy']
        }
    }
}